<div class="product">
  <h2 class="product__price">{{ product.price }}</h2>
  <p class="product__name">{{ product.name }}</p>
  <app-img width="200" [img]="product.image" alt=""></app-img>
  <h3 class="product__remaining">
    Cantidad restante: {{ product.quantityLeft }}
  </h3>
  <div class="product__buttons-container">
    <button [disabled]="productAvailable" (click)="onAddToCart()">
      Add to shopping cart
    </button>
    <button [disabled]="productRemovable" (click)="onRemoveFromCart()">
      Remove from shopping cart
    </button>
  </div>
</div>
