<div class="product">
  <p class="product__name">{{ product.title }}</p>
  <app-img class="" [img]="product.image" [alt]="product.title"></app-img>
  <h2 class="product__price">{{ product.price | currency: "USD" }}</h2>
  <h3 class="product__remaining">
    Remaining units: {{ product.quantityLeft }}
  </h3>
  <p class="product__description" appHighlight>{{ product.description }}</p>
  <div class="product__buttons-container">
    <button
      class="product__buttons-container__button--add"
      [disabled]="productAvailable"
      (click)="onAddToCart()"
    >
      Add to shopping cart
    </button>
    <button
      class="product__buttons-container__button--remove"
      [disabled]="productRemovable"
      (click)="onRemoveFromCart()"
    >
      Remove from shopping cart
    </button>
  </div>
</div>
