.product {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  &__remaining {
    font-size: var(--fs-medium);
  }
  &__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    & > button {
      background: var(--hospital-green);
      color: var(--dark);
      padding: 1rem;
      border-radius: 0.5rem;
      &:hover {
        color: var(--white);
      }
      &:disabled {
        background-color: #eeeeee;
        border-color: #d0d0d0;
        color: #ababab;
      }
    }
  }
}
