.product {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  border: 1px solid var(--hospital-green);
  border-radius: 0.5rem;
  padding: 1rem 1rem;

  &__name {
    margin: 1.5rem 0;
  }
  &__price {
    color: var(--hospital-green);
  }
  &__remaining {
    margin: 1.5rem 0;
    font-size: var(--fs-medium);
  }
  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > button {
      padding: 1rem;
      border-radius: 0.5rem;
    }
    &__button--add {
      background: var(--hospital-green);
      color: var(--dark);
      &:hover {
        color: var(--white);
      }
      &:disabled {
        background-color: #eeeeee;
        border-color: #d0d0d0;
        color: #ababab;
      }
    }
    &__button--remove {
      background: var(--dark);
      color: var(--hospital-green);
      &:hover {
        color: var(--white);
      }
      &:disabled {
        background-color: #eeeeee;
        border-color: #d0d0d0;
        color: #ababab;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .product {
    justify-content: space-between;
  }
}
