<p class="products__text">Today is {{ today | date: "short" }}</p>
<p class="products__text">
  The discount finishes at {{ finishDiscount | date: "short" }}
</p>
<p class="products__text">
  There are {{ hoursLeft.toFixed(2) }} hours remaining
</p>
<div class="products">
  <!-- <app-product> </app-product> -->
  <ng-container *ngIf="!filteredProducts.length; else elseProduct">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (addProduct)="onAddToShoppingCart($event)"
      (removeProduct)="onRemoveFromShoppingCart($event)"
      [productAvailable]="!(product.quantityLeft > 0)"
      [productRemovable]="!shoppingCart.includes(product)"
    ></app-product>
  </ng-container>
  <ng-template #elseProduct>
    <app-product
      *ngFor="let product of filteredProducts"
      [product]="product"
      (addProduct)="onAddToShoppingCart($event)"
      (removeProduct)="onRemoveFromShoppingCart($event)"
      [productAvailable]="!(product.quantityLeft > 0)"
      [productRemovable]="!shoppingCart.includes(product)"
    ></app-product>
  </ng-template>
  <button (click)="addProduct()">add product</button>
</div>
