.products {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  &__text {
    padding: 0 2rem;
    font-family: "Quicksand", sans-serif;
  }
}

@media screen and (min-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
  }
}
